[submodule "CheckersLibrary"]
	path = CheckersLibrary
	url = https://github.com/tuureilmarinen/CheckersLibrary.git
[submodule "CheckersAppCLI"]
	path = CheckersAppCLI
	url = https://github.com/tuureilmarinen/CheckersAppCLI.git
[submodule "CheckersLibraryDebugger"]
	path = CheckersLibraryDebugger
	url = git@github.com:tuureilmarinen/CheckersLibraryDebugger.git
